@import "tailwindcss";

:root{
  --home-bg:#C5ACFF;
  --jobs-bg:#FFE79D;
  --groups-bg:#FFA3BE;
  --favorites-bg:#ff3939;
  --profile-bg:#CCFFB4;
  --news-bg:#3754c5;
  
  font-family: "Inter",sans-serif;
}

