@import "tailwindcss";

@theme {
  --animate-pop: pop 0.3s ease;
}

@keyframes pop {
  0% { transform: scale(1); }
  40% { transform: scale(1.15); }
  100% { transform: scale(1); }
}

:root{
  --general-bg:#FFF8E9;
  --home-bg:#C5ACFF;
  --jobs-bg:#FFE79D;
  --groups-bg:#FFA3BE;
  --favorites-bg:#ff3939;
  --profile-bg:#CCFFB4;
  --news-bg:#3754c5;
  
  font-family: "Inter",sans-serif;
}

